.block_list {
   background-color: rgba(243, 243, 245, 0.32);
   border-radius: 5px;
   padding: 10px;
}

.error {
   border: 2px solid red;
   border-radius: 7px;
   margin-right: 5px;
}

.error_message {
   color: red;
}

.active_filter {
   background-color: aquamarine;
}

.is_done {
   opacity: 0.5;
}
